<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>comress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DA203BE1A79CBA100C7E5C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DA203D71A79CBA100C7E5C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DCBBE261B8FF8BA0042CDC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
